<?xml version="1.0"?>

<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		
	</system.web>

	<connectionStrings>
		<add name="mycon" connectionString="Data Source = SHAMMI802101\SQL2019;Initial Catalog = Vision; Integrated Security= True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>


</configuration>
